<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h3>Lista de Usuarios</h3>
  <ul>
    <li *ngFor="let user of users">
      {{ user.username }} - {{ user.email }} - {{ user.fullname }}
      <button (click)="updateUser(user)">Actualizar</button>
      <button (click)="deleteUser(user.id)">Eliminar</button>
    </li>
  </ul>

  <h3>Agregar Nuevo Usuario</h3>
  <form (ngSubmit)="createUser()">
    <input type="text" [(ngModel)]="newUser.username" name="username" placeholder="Username" required>
    <input type="email" [(ngModel)]="newUser.email" name="email" placeholder="Email" required>
    <input type="password" [(ngModel)]="newUser.password" name="password" placeholder="Password" required>
    <input type="text" [(ngModel)]="newUser.fullname" name="fullname" placeholder="Full Name" required>
    <ion-label>Selecciona Rol</ion-label>
      <ion-select [(ngModel)]="newUser.role" name="role" placeholder="Role" required>
        <ion-select-option value="1">Admin</ion-select-option>
        <ion-select-option value="2">Pasajero</ion-select-option>
        <ion-select-option value="3">Conductor</ion-select-option>
      </ion-select>
    <button type="submit">Agregar Usuario</button>
  </form>

</ion-content>
