<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p class="bienvenido ion-text-right">Bienvenido {{username}}!</p>

  <!-- Lista de Usuarios -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Lista de Usuarios</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let user of users" lines="full" color="secondary">
          <ion-label>
            <h2 class="text">{{ user.username }}</h2>
            <p class="text">{{ user.email }} - {{ user.fullname }}</p>
          </ion-label>
          <ion-buttons slot="end">
            <ion-button color="tertiary" (click)="editUser(user)">
              <ion-icon slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button color="danger" (click)="confirmDeleteUser(user.id)">
              <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <!-- Formulario para Agregar o Editar Usuario -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ isEditing ? 'Editar Usuario' : 'Agregar Nuevo Usuario' }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form (ngSubmit)="isEditing ? updateUser(newUser) : createUser()" class="form-container">

        <ion-item color="secondary">
          <ion-label position="floating" class="text">Nombre de usuario</ion-label>
          <ion-input type="text" class="text" [(ngModel)]="newUser.username" name="username" required></ion-input>
        </ion-item>

        <ion-item color="secondary">
          <ion-label position="floating" class="text">Correo</ion-label>
          <ion-input type="email" class="text" [(ngModel)]="newUser.email" name="email" required></ion-input>
        </ion-item>

        <ion-item color="secondary">
          <ion-label position="floating" class="text">Contraseña</ion-label>
          <ion-input type="password" class="text" [(ngModel)]="newUser.password" name="password" required></ion-input>
        </ion-item>

        <ion-item color="secondary">
          <ion-label position="floating" class="text">Nombre completo</ion-label>
          <ion-input type="text" class="text" [(ngModel)]="newUser.fullname" name="fullname" required></ion-input>
        </ion-item>

        <ion-item color="secondary" class="text">
          <ion-label class="text">Selecciona Rol</ion-label>
          <ion-select [(ngModel)]="newUser.role" name="role" placeholder="Role" required>
            <ion-select-option value="1">Admin</ion-select-option>
            <ion-select-option value="2">Pasajero</ion-select-option>
            <ion-select-option value="3">Conductor</ion-select-option>
          </ion-select>
        </ion-item>

        <ion-button expand="block" type="submit" class="btn-user">
          {{ isEditing ? 'Actualizar Usuario' : 'Agregar Usuario' }}
        </ion-button>
      </form>

      <!-- Botón de eliminar (solo cuando se está editando un usuario) -->
      <ion-button color="danger" *ngIf="isEditing" (click)="confirmDeleteUser(newUser.id)">
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
        Eliminar Usuario
      </ion-button>
      
    </ion-card-content>
  </ion-card>
</ion-content>

<!-- Opcional: Agregar un estilo personalizado -->
<style>
  .form-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
</style>
