  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> 
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-icon name="notifications" class="icon-notification"  (click)="openNotifications()"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <p class="bienvenido ion-text-right">Bienvenido {{username}}!</p>

    <div class="toggle">
      <ion-toggle labelPlacement="stacked" alignment="start" [(ngModel)]="isActive" (ionChange)="cambiarEstado($event)">
        En servicio
      </ion-toggle>
    </div>
    <div class="container">
      <div class="input-container">
        <ion-select class="custom-select" labelPlacement="stacked" label="Desde:" placeholder="Selecciona Sede" fill="outline" interface="popover" [(ngModel)]="selectedSede" (ionChange)="saveSelectedSede()">
          <ion-icon slot="start" name="navigate-sharp" aria-hidden="true"></ion-icon>
          <ion-select-option *ngFor="let sede of sedes" [value]="sede.id">{{ sede.name }}</ion-select-option>
        </ion-select>
      </div>

      <div class="input-container">
        <ion-input fill="outline" labelPlacement="stacked" label="Hacia:" [(ngModel)]="endLocation" placeholder="Fin ruta" (ionInput)="onSearchChange($event, 'end')"></ion-input>
      </div>
      <ion-list *ngIf="suggestionsEnd.length > 0">
        <ion-item *ngFor="let suggestion of suggestionsEnd" (click)="selectSuggestion(suggestion, 'end')">
          {{ suggestion.display_name }}
        </ion-item>
      </ion-list>

      <ion-select label="Horario salida: "  placeholder="Filtrar"  [(ngModel)]="selectedHorario" (ionChange)="saveSelectedHorario()" >
        <ion-select-option *ngFor="let horario of horarios" [value]="horario.id">{{ horario.time }}</ion-select-option>
      </ion-select>
      
      <ion-button class="btn-home custom-button" (click)="calculateRoute()"(ionInput)="onSearchChange($event, 'end')">
        Ver ruta
      </ion-button>
      <ion-button class="btn-home custom-button"(click)="saveRoute()">
        Guardar ruta
      </ion-button>
      <ion-button class="btn-home" (click)="recenterMap()"><ion-icon name="locate"></ion-icon></ion-button>
    </div>
    
    <div id="mapId"></div>
    
  </ion-content>
