  <ion-header [translucent]="true">
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button> 
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <p class="bienvenido ion-text-right">Bienvenido {{username}}!</p>

    <div class="toggle">
      <ion-toggle labelPlacement="stacked" alignment="start" [(ngModel)]="enServicio" (ionChange)="cambiarEstado($event)">
        En servicio
      </ion-toggle>
    </div>
    <div class="container">
      <div class="input-container">
        <ion-input fill="outline" [(ngModel)]="startLocation"  placeholder="Inicio ruta" (ionInput)="onSearchChange($event, 'start')"></ion-input>
        <ion-icon name="navigate-sharp" slot="end" class="input-icon"></ion-icon>
      </div>
      
      <ion-list *ngIf="suggestionsStart.length > 0">
        <ion-item *ngFor="let suggestion of suggestionsStart" (click)="selectSuggestion(suggestion, 'start')">
          {{ suggestion.display_name }}
        </ion-item>
      </ion-list>

      <div class="input-container">
        <ion-input fill="outline" [(ngModel)]="endLocation" placeholder="Fin ruta" (ionInput)="onSearchChange($event, 'end')"></ion-input>
      </div>
      <ion-list *ngIf="suggestionsEnd.length > 0">
        <ion-item *ngFor="let suggestion of suggestionsEnd" (click)="selectSuggestion(suggestion, 'end')">
          {{ suggestion.display_name }}
        </ion-item>
      </ion-list>
      <ion-button class="btn-home custom-button" (click)="calculateRoute()"(ionInput)="onSearchChange($event, 'end')">
        Ver detalles de ruta
      </ion-button>
      <ion-button (click)="recenterMap()">Centrar ubicación</ion-button>
    </div>
    
    <div id="mapId"></div>
    
  </ion-content>
