.data{
    width: 90%;
    margin: 1rem auto;
    padding: 1rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

p{
    font-size: large;
    font-weight: 500;
}
  

ion-icon{
    display: flex;
    font-size: 100px;
    margin: auto;
    padding: 8px;
}
