.user-data{
    width: 90%;
    margin: auto;
    padding: 1rem;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
.a{
    text-align: center;
}

ion-footer{
    background-color: #012942 !important;
}