<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button color="secondary"></ion-menu-button> 
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-icon name="notifications" class="icon-notification" ></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <h4>Viaje reservado:</h4>
    <div *ngIf="!mostrarDiv">
      <h3 class="ion-text-center">No tienes reservas el día de hoy 🫢</h3>
    </div>
    <div *ngIf="mostrarDiv">
      <ion-card *ngFor="let driver of activeDrivers">
        <ion-card-header>
          <ion-card-title>{{ driver.username }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Email: {{ driver.email }}</p>
          <p>Sede: {{ driver.sede }}</p> 
          <p>Destino: {{ endLocation || 'No especificado' }}</p>
          <p>Horario: {{ driver.horario }}</p> 
          <p>Estado: {{ driver.isActive ? 'Activo' : 'Inactivo' }}</p>
          <div class="btn-card">
            <ion-button class="btn-card-driver" (click)="cancelTrip()">Cancelar Reserva</ion-button>
          </div>
        </ion-card-content>
      </ion-card>
    </div>
  </div>
</ion-content>
