ion-icon{
    font-size: 30px;
}
.card-payment{
text-align: center;
}
.btn-payment{
    position: absolute;
    bottom: 20px; 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
}
ion-button{
    font-size: 24px;
    margin: auto;
}