<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <!--poner iconos en lugar de texto-->
      <ion-button color="medium" (click)="cancel()"><ion-icon name="close-circle"></ion-icon></ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="confirm()" [strong]="true"><ion-icon name="checkmark-circle"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <ion-title class="ion-text-center">Seleciona método de pago </ion-title>

  <ion-card class="card-payment" *ngFor="let method of paymentMethods">
    <ion-card-header>
      <ion-card-title>{{ method.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-icon [name]="method.icon" size="large"></ion-icon>
    </ion-card-content>
  </ion-card>

  <div class="btn-payment">
    <ion-button>Pagar</ion-button>
  </div>
  
</ion-content>
