<ion-header class="ion-text-center ion-no-border">
  <ion-toolbar color="primary">
    <ion-title >
      <h1>TeLlevoAPP</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="container" class="ion-content">
    <ion-title class="sub">
      <h5>Iniciar Sesión</h5>
    </ion-title>
    <br>
    <ion-list>
      <ion-item>
        <ion-input [(ngModel)]="username" label="Nombre de usuario" type="text" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="password" label="Contraseña" type="password" labelPlacement="stacked"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-button expand="block" (click)="validateLogin()">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Ingresar
    </ion-button>
    <br>
    <a href="password-recov">Recuperar Contraseña</a>
  </div>
</ion-content>
 