<ion-header class="ion-text-center ion-no-border">
  <ion-toolbar color="primary">
    <ion-title >
      <h1>TeLlevoAPP</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-text-center">
    <h1 class="custom-text">Viaja fácil, viaja seguro</h1>
    <div class="image-container">
      <ion-img src="assets/icon/auto.png"></ion-img>
    </div>
  </div>
  <div class="circle-one"></div>
  <div id="container" class="ion-content">
    <ion-title class="sub">
      <h5>Iniciar Sesión</h5>
    </ion-title>
    <br>
    <ion-list>
      <ion-item color="secondary"> 
        <ion-input [(ngModel)]="username" label="Nombre de usuario" type="text" labelPlacement="stacked"></ion-input>
      </ion-item>
      <ion-item color="secondary">
        <ion-input [(ngModel)]="password" label="Contraseña" type="password" [type]="showPassword ? 'text' : 'password'"  labelPlacement="stacked"></ion-input>
        <ion-icon class="icon-login" name="{{ showPassword ? 'eye-off' : 'eye' }}" slot="end" (click)="togglePasswordVisibility()"></ion-icon>
      </ion-item>
    </ion-list>
    <br>
    <ion-button expand="block" (click)="validateLogin()">
      <ion-icon name="log-in-outline" slot="start"></ion-icon>
      Ingresar
    </ion-button>
    <br>
    <a href="password-recov">Recuperar Contraseña</a>
  </div>
  <div class="circle-two"></div>
</ion-content>
 