.icon-logout{
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    padding: 10px;
    border-radius: 1rem;
    font-size: 20px;
    align-items: right;
    background-color: #d8d8d8;
}
/* Estilo personalizado para la alerta */
.custom-alert {
    --background: #f5f5f5; /* Color de fondo de la alerta */
    --color: black;
  }