<ion-header [translucent]="true" class="ion-text-center ion-no-border">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" class="custom-btn"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <br>
  <div id="container">
    <h3>Recuperar Contraseña</h3>
    <ion-list>
      <ion-item color="secondary">
        <ion-input [(ngModel)]="username" label="Nombre de usuario" typo="text" labelPlacement="stacked"></ion-input>
      </ion-item>
    </ion-list>
    <br>
    <ion-button expand="full" id="btn-pwdRecov" (click)="passwordRecovery()">Reestablecer</ion-button>
  </div>
</ion-content>
