<ion-content>
  <pclass="vista-pasajero">[Vista pasajero]</p>
  <p class="bienvenido ion-text-right">Bienvenido {{username}}!</p>
  
  <div class="container">
    <h5 class="viaja-comodo">Viaja cómodo, llega seguro.</h5>

    
    <div class="input-container">
      <ion-input fill="outline" [(ngModel)]="startLocation"  placeholder="Punto de partida" (ionInput)="onSearchChange($event, 'start')"></ion-input>
      <ion-icon name="navigate-sharp" slot="end" class="input-icon"></ion-icon>
    </div>
    
    <ion-list *ngIf="suggestionsStart.length > 0">
      <ion-item *ngFor="let suggestion of suggestionsStart" (click)="selectSuggestion(suggestion, 'start')">
        {{ suggestion.display_name }}
      </ion-item>
    </ion-list>

    <div class="input-container">
      <ion-input fill="outline" [(ngModel)]="endLocation" placeholder="Destino" (ionInput)="onSearchChange($event, 'end')"></ion-input>
    </div>
    <ion-list *ngIf="suggestionsEnd.length > 0">
      <ion-item *ngFor="let suggestion of suggestionsEnd" (click)="selectSuggestion(suggestion, 'end')">
        {{ suggestion.display_name }}
      </ion-item>
    </ion-list>
    <ion-button class="btn-home custom-button" (click)="togglePrices()"(ionInput)="onSearchChange($event, 'end')">
      Ver precios
    </ion-button>
    <ion-button class="btn-home" (click)="calculateRoute()">Ver Ruta</ion-button>
    <ion-button class="btn-home custom-button">Programar viaje</ion-button>

    <ion-list *ngIf="showPrices">
      <ion-item *ngFor="let price of prices">
        {{ price.name }} - {{ price.value | currency }}
      </ion-item>
    </ion-list>
  </div>

  <ion-content>
    <div id="mapId"></div>
  </ion-content>
</ion-content>
