<ion-content>
  <p class="vista-pasajero">[Vista pasajero]</p>
  <p class="bienvenido ion-text-right">Bienvenido {{username}}!</p>
  
  <div class="container">
    <h5 class="viaja-comodo">Viaja cómodo, llega seguro.</h5>
    
    <div class="input-container">
      <ion-input fill="outline" placeholder="Punto de partida"></ion-input>
      <ion-icon name="navigate-sharp" slot="end" class="input-icon"></ion-icon>
    </div>
    
    <div class="input-container">
      <ion-input fill="outline" placeholder="Destino"></ion-input>
    </div>
    
    <ion-button class="btn-home custom-button" (click)="togglePrices()">
      Ver precios
    </ion-button>

    <ion-button class="btn-home custom-button">Programar viaje</ion-button>

    <ion-list *ngIf="showPrices">
      <ion-item *ngFor="let price of prices">
        {{ price.name }} - {{ price.value | currency }}
      </ion-item>
    </ion-list>
  </div>

  <div id="mapId" style="height: 100%;"></div>
</ion-content> 