ion-content {
    --background: none !important;
    background: linear-gradient(to bottom, #c2cedf, #323a3b) !important;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    --color: black;
  }