
<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title >-- TeLlevoAPP --</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">    
      <ion-segment (ionChange)="segmentChanged($event)" value="data">
        <ion-segment-button value="home">
          <ion-icon name="home-sharp"></ion-icon> Inicio
        </ion-segment-button>
        <ion-segment-button value="profile"> 
          <ion-icon name="person-circle-sharp"></ion-icon>Perfil
        </ion-segment-button>
      </ion-segment>
      <button (click)="logout()" class="icon-logout">
        <ion-icon name="log-out-outline"></ion-icon>
      </button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button class="icono"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ng-container *ngIf="selectedSegment === 'home'">
      <app-home-comp></app-home-comp>
    </ng-container>
    <ng-container *ngIf="selectedSegment === 'profile'">
      <app-profile></app-profile>
    </ng-container>
  </ion-content>
</div>
