<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p class="bienvenido ion-text-right">Bienvenido {{username}}!</p>
  
  <div class="container">
    
      <h5 class="viaja-comodo">Viaja cómodo, llega seguro.</h5>
  
    <div class="input-container">
      <ion-input fill="outline" [(ngModel)]="startLocation"  placeholder="Punto de partida" (ionInput)="onSearchChange($event, 'start')"></ion-input>
      <ion-icon name="navigate-sharp" slot="end" class="input-icon"></ion-icon>
    </div>
    
    <ion-list *ngIf="suggestionsStart.length > 0">
      <ion-item *ngFor="let suggestion of suggestionsStart" (click)="selectSuggestion(suggestion, 'start')">
        {{ suggestion.display_name }}
      </ion-item>
    </ion-list>

    <div class="input-container">
      <ion-input fill="outline" [(ngModel)]="endLocation" placeholder="Destino" (ionInput)="onSearchChange($event, 'end')"></ion-input>
    </div>
    <ion-list *ngIf="suggestionsEnd.length > 0">
      <ion-item *ngFor="let suggestion of suggestionsEnd" (click)="selectSuggestion(suggestion, 'end')">
        {{ suggestion.display_name }}
      </ion-item>
    </ion-list>
    <ion-button class="btn-home" (click)="calculateRoute()">Ver Ruta</ion-button>
    <!--ion-button class="btn-home custom-button">Programar viaje</ion-button-->
    <ion-button class="btn-home"  (click)="recenterMap()"><ion-icon name="locate"></ion-icon></ion-button>
    <ion-button class="btn-home"  (click)="clearRoute()"><ion-icon name="reload"></ion-icon></ion-button>



    <div *ngIf="routeDetails">
      <h6>Detalles de ruta</h6>
      <p>Distancia: {{ routeDetails.distanceKm }} km</p>
      <p>Duración: {{ routeDetails.durationMin }} min</p>
      <p>Tarifa Estimada: {{ routeDetails.formattedPrice }}</p>
      <ion-button (click)="showDrivers()">Ver Conductores</ion-button>
    </div>
  </div>
  
    <div id="mapId"></div>
  
</ion-content>
