

<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title >TeLlevoAPP</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">    
    <ion-list>
      <ion-item *ngIf="userRole === 1" (click)="setComponent('admin')">Usuarios</ion-item>
      <ion-item *ngIf="userRole === 2" (click)="setComponent('home')">Inicio</ion-item>
      <ion-item *ngIf="userRole !== 0" (click)="setComponent('profile')">Perfil</ion-item>
    </ion-list>
    <button (click)="logout()">
      <ion-icon name="log-out-outline"></ion-icon>
    </button>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button class="icono"></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <div *ngIf="isPassenger()">
      <ng-container *ngIf="selectedComponent === 'home'">
        <app-home-comp></app-home-comp>
      </ng-container>
    </div>
    <ng-container *ngIf="selectedComponent === 'profile'">
      <app-profile></app-profile>
    </ng-container>
    <div *ngIf="isAdmin()">
      <ng-container *ngIf="selectedComponent === 'admin'">
        <app-admin></app-admin>
      </ng-container>
    </div>
  </ion-content>
</div>
