
<ion-menu side="start" content-id="main-content">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>Menú</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item *ngIf="userRole === 2">
        <a href="/home">Inicio</a>
      </ion-item>
      <ion-item *ngIf="userRole === 3">
        <a href="/home-driver">Inicio</a>
      </ion-item>
      <ion-item *ngIf="userRole === 1"> 
        <a href="/users">Usuarios</a>
      </ion-item>
      <ion-item>
        <a href="/profile">Perfil</a>
      </ion-item>
    </ion-list>

    <!-- Botón de cierre de sesión -->
    <button (click)="logout()">
      <ion-icon name="log-out-outline" class="icon-logout"></ion-icon>
    </button>
  </ion-content>
</ion-menu>


